/* line 30, app.scss */
.line {
  display: inline-block;
  vertical-align: bottom;
  zoom: 1;
  width: 80px;
  height: 4px;
  background: white;
  margin-bottom: 9px;
}

/* line 40, app.scss */
body {
  font-size: 1em;
  letter-spacing: 0.15em;
}

/**
   * SEC-1
   */
/* line 51, app.scss */
p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
}

/* line 56, app.scss */
html,
li {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 61, app.scss */
#section-1 {
  background-color: #2b90d9;
  z-index: -2;
}
/* line 65, app.scss */
#section-1 h1 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 14vh;
  font-weight: 500;
  padding-top: 0.4em;
  line-height: 1.2em;
  color: white;
}

/* line 76, app.scss */
section {
  padding-top: 50px;
}

/* line 80, app.scss */
nav {
  height: 50px;
  z-index: 2;
  padding-right: 20px;
  padding-top: 5px;
}

/* line 87, app.scss */
nav a {
  color: #383838;
  text-transform: uppercase;
}

/* line 92, app.scss */
.main {
  z-index: -999;
}

/* line 96, app.scss */
#findout {
  font-family: "Stellar", "Roboto Slab", sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 7%;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
}

/* line 110, app.scss */
#findout:after {
  content: "";
  background: url(../img/mouse.svg) no-repeat;
  width: 20px;
  height: 32px;
  bottom: -180%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* line 121, app.scss */
#pollutedEarth {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: #57585a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

/**
   * End of SEC-1
   */
/**
   * SEC-2 
   */
/* line 145, app.scss */
#section-2 {
  background-color: #FFE66D;
}
/* line 147, app.scss */
#section-2 h1 {
  font-family: "Stellar", "Roboto Slab", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1em;
}
/* line 153, app.scss */
#section-2 p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 200;
  letter-spacing: 0.05em;
}
/* line 160, app.scss */
#section-2 .line {
  background-color: black;
  margin-left: 10px;
}

/* line 166, app.scss */
.graphic {
  z-index: 5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
}

/* line 174, app.scss */
#bus {
  width: 20vw;
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 0;
  -webkit-animation: traffic linear 15s infinite;
  animation: traffic linear 15s infinite;
}

/* line 184, app.scss */
#truck {
  width: 17vw;
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 30%;
  -webkit-animation: traffic linear 15s infinite;
  animation: traffic linear 15s infinite;
}

/* line 194, app.scss */
.plane {
  width: 12vw;
  height: auto;
  position: absolute;
  top: 150px;
  left: -15vw;
}

/* line 202, app.scss */
.plane:nth-of-type(1) {
  animation: fly linear 15s infinite;
}

/* line 206, app.scss */
.plane:nth-of-type(2) {
  top: 100px;
  width: 10vw;
  opacity: .4;
  transform: scaleX(-1);
  animation: fly linear 10s infinite;
  animation-direction: reverse;
  animation-delay: 5s;
}

/* line 216, app.scss */
.plane:nth-of-type(3) {
  top: 50px;
  width: 8vw;
  opacity: .2;
  transform: scaleX(-1);
  animation: fly linear 10s infinite;
  animation-direction: reverse;
}

/* line 225, app.scss */
.plane:nth-of-type(4) {
  top: 190px;
  width: 15vw;
  animation: fly linear 10s infinite;
}

/* line 231, app.scss */
#helicopter {
  width: 5vw;
  height: auto;
  position: absolute;
  top: 40vh;
  left: -15vw;
  animation: flyHeli ease-in-out 12s infinite;
  z-index: 1;
}

/* line 241, app.scss */
#land {
  background-color: #0f2f34;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 249, app.scss */
#city {
  width: 100vw;
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 0;
}

/* line 257, app.scss */
#factory {
  width: 60vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  vertical-align: bottom;
  display: table-cell;
}
/* line 265, app.scss */
#factory .factory-img {
  height: 50vh;
  width: auto;
  vertical-align: bottom;
}

/* line 272, app.scss */
.smoke-1 {
  background-color: aliceblue;
  border-radius: -50%;
  z-index: 3;
  height: 20px;
  width: 120px;
  position: absolute;
  bottom: 80%;
  left: 3.5%;
}

/* line 283, app.scss */
#smoke-2 {
  z-index: -1;
  height: 360px;
  width: 371px;
  position: absolute;
  /**background: url('img/smoke_sprite.png') left no-repeat;**/
  top: -60%;
  right: 19%;
  /**animation: play 8s steps(317) infinite;**/
}

/**
   * SEC-3 
   */
/* line 299, app.scss */
#section-3 {
  background: url("/img/stars_medium.png") #1A535C;
}
/* line 302, app.scss */
#section-3 .year-wrapper {
  font-family: "Stellar", "Roboto Slab", sans-serif;
  font-size: 1.5em;
  z-index: 3;
  width: 100px;
  display: table;
  letter-spacing: 0.1em;
}
/* line 312, app.scss */
#section-3 .section-3-years {
  color: white;
  opacity: 0.5;
  position: relative;
  height: 55px;
  margin-bottom: 15px;
  animation: all 2s linear;
}
/* line 322, app.scss */
#section-3 .section-3-years div {
  line-height: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
/* line 333, app.scss */
#section-3 h2 {
  padding: 0;
  color: white;
  z-index: 999;
  text-transform: uppercase;
  font-family: "Stellar", "Roboto Slab", sans-serif;
}
/* line 340, app.scss */
#section-3 #sec-3-p {
  font-size: 1rem;
  padding: 0;
  color: white;
}

/* line 347, app.scss */
.statistic {
  margin-top: 18px;
}

/* line 350, app.scss */
#section-3 .statistic h2 {
  margin-top: -25px;
  color: #4ECDC4;
  line-height: 1em;
  font-size: 9em;
  margin-bottom: 20px;
}

/* line 358, app.scss */
#section-3 .statistic p {
  color: white;
  opacity: .8;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

/* line 365, app.scss */
.section-3-years:after {
  content: "";
  background-color: #FF6B6B;
  width: 0;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  z-index: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

/* line 378, app.scss */
.section-3-years:hover:after {
  width: 120px;
}

/* line 383, app.scss */
#earth-shadow {
  position: absolute;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  background-color: dimgray;
  opacity: .5;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -1;
}

/* line 397, app.scss */
.earth-wrapper {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
/* line 405, app.scss */
.earth-wrapper .asteroids-belt {
  border-radius: 50%;
  top: 50%;
  left: 70%;
  position: absolute;
  z-index: 0;
}
/* line 411, app.scss */
.earth-wrapper .asteroids-belt:before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

/* line 420, app.scss */
.asteroids-belt {
  z-index: 5;
  opacity: 1;
  border-color: transparent !important;
  height: 600px;
  width: 600px;
  margin-top: -300px;
  margin-left: -300px;
  animation: orb 150s linear infinite;
  overflow: hidden;
}
/* line 430, app.scss */
.asteroids-belt:before {
  z-index: 99;
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 210px 353px 0 -104px rgba(255, 255, 255, 0.702) , 166px -259px 0 -104px rgba(255,255,255, 0.69) , -145px -139px 0 -104px rgba(255,255,255, 0.156) , 272px -172px 0 -104px rgba(255,255,255, 0.337) , 396px 186px 0 -104px rgba(255,255,255, 0.089) , 133px 146px 0 -104px rgba(255,255,255, 0.331) , -299px -57px 0 -104px rgba(255,255,255, 0.896) , -433px 178px 0 -104px rgba(255,255,255, 0.603) , -393px 433px 0 -104px rgba(255,255,255, 0.266) , -263px 128px 0 -104px rgba(255,255,255, 0.841) , -134px 207px 0 -104px rgba(255,255,255, 0.377) , -138px -238px 0 -104px rgba(255,255,255, 0.595) , -175px 97px 0 -104px rgba(255,255,255, 0.822) , 371px -436px 0 -104px rgba(255,255,255, 0.634) , 250px 59px 0 -104px rgba(255,255,255, 0.084) , 205px 301px 0 -104px rgba(255,255,255, 0.626) , -188px -421px 0 -104px rgba(255,255,255, 0.682) , 173px -164px 0 -104px rgba(255,255,255, 0.444) , 359px -176px 0 -104px rgba(255,255,255, 0.925) , 128px -439px 0 -104px rgba(255,255,255, 0.044) , -395px 225px 0 -104px rgba(255,255,255, 0.293) , -70px -410px 0 -104px rgba(255,255,255, 0.366) , 176px 182px 0 -104px rgba(255,255,255, 0.092) , 130px -377px 0 -104px rgba(255,255,255, 0.112) , 304px -198px 0 -104px rgba(255,255,255, 0.782) , 290px -438px 0 -104px rgba(255,255,255, 0.087) , -35px 163px 0 -104px rgba(255,255,255, 0.323) , -59px 196px 0 -104px rgba(255,255,255, 0.001) , -79px 13px 0 -104px rgba(255,255,255, 0.272) , -36px -199px 0 -104px rgba(255,255,255, 0.454) , -247px -23px 0 -104px rgba(255,255,255, 0.412) , -229px 83px 0 -104px rgba(255,255,255, 0.544) , -272px 137px 0 -104px rgba(255,255,255, 0.502) , -228px 365px 0 -104px rgba(255,255,255, 0.032) , 395px -291px 0 -104px rgba(255,255,255, 0.05) , 161px -31px 0 -104px rgba(255,255,255, 0.531) , 316px 281px 0 -104px rgba(255,255,255, 0.074) , -336px 412px 0 -104px rgba(255,255,255, 0.504) , 265px 105px 0 -104px rgba(255,255,255, 0.95) , -25px 318px 0 -104px rgba(255,255,255, 0.009) , -184px 355px 0 -104px rgba(255,255,255, 0.004) , 1px -226px 0 -104px rgba(255,255,255, 0.933) , -118px -62px 0 -104px rgba(255,255,255, 0.676) , -159px -119px 0 -104px rgba(255,255,255, 0.257) , 310px -329px 0 -104px rgba(255,255,255, 0.731) , 115px 190px 0 -104px rgba(255,255,255, 0.243) , -117px 432px 0 -104px rgba(255,255,255, 0.51) , -373px 133px 0 -104px rgba(255,255,255, 0.372) , 414px -185px 0 -104px rgba(255,255,255, 0.927) , -95px -370px 0 -104px rgba(255,255,255, 0.064) , -198px 321px 0 -104px rgba(255,255,255, 0.271) , 322px -170px 0 -104px rgba(255,255,255, 0.882) , -212px 41px 0 -104px rgba(255,255,255, 0.415) , 36px 417px 0 -104px rgba(255,255,255, 0.09) , -325px 120px 0 -104px rgba(255,255,255, 0.754) , 321px 382px 0 -104px rgba(255,255,255, 0.658) , -253px -242px 0 -104px rgba(255,255,255, 0.054) , -338px 46px 0 -104px rgba(255,255,255, 0.084) , 130px -282px 0 -104px rgba(255,255,255, 0.311) , 113px -204px 0 -104px rgba(255,255,255, 0.13) , -117px -166px 0 -104px rgba(255,255,255, 0.402) , -203px -45px 0 -104px rgba(255,255,255, 0.91) , 135px -19px 0 -104px rgba(255,255,255, 0.461) , 425px -137px 0 -104px rgba(255,255,255, 0.666) , 100px 53px 0 -104px rgba(255,255,255, 0.569) , 249px -340px 0 -104px rgba(255,255,255, 0.635) , 352px -122px 0 -104px rgba(255,255,255, 0.152) , 120px 91px 0 -104px rgba(255,255,255, 0.581) , 102px -251px 0 -104px rgba(255,255,255, 0.988) , -67px -376px 0 -104px rgba(255,255,255, 0.372) , 316px 120px 0 -104px rgba(255,255,255, 0.687) , 22px -18px 0 -104px rgba(255,255,255, 0.475) , -366px 101px 0 -104px rgba(255,255,255, 0.874) , -429px 433px 0 -104px rgba(255,255,255, 0.258) , 325px -404px 0 -104px rgba(255,255,255, 0.635) , 204px -420px 0 -104px rgba(255,255,255, 0.42) , -336px -300px 0 -104px rgba(255,255,255, 0.789) , 73px 381px 0 -104px rgba(255,255,255, 0.467) , -80px -406px 0 -104px rgba(255,255,255, 0.854) , 238px -7px 0 -104px rgba(255,255,255, 0.069) , 240px 243px 0 -104px rgba(255,255,255, 0.285) , 298px 170px 0 -104px rgba(255,255,255, 0.687) , 375px -389px 0 -104px rgba(255,255,255, 0.221) , -265px -257px 0 -104px rgba(255,255,255, 0.252) , 59px 425px 0 -104px rgba(255,255,255, 0.158) , -366px 105px 0 -104px rgba(255,255,255, 0.626) , -112px -439px 0 -104px rgba(255,255,255, 0.408) , 360px 111px 0 -104px rgba(255,255,255, 0.341) , 266px 119px 0 -104px rgba(255,255,255, 0.861) , -6px 214px 0 -104px rgba(255,255,255, 0.724) , -224px 194px 0 -104px rgba(255,255,255, 0.552) , -235px 346px 0 -104px rgba(255,255,255, 0.994) , 246px -304px 0 -104px rgba(255,255,255, 0.016) , 362px 132px 0 -104px rgba(255,255,255, 0.984) , 385px 346px 0 -104px rgba(255,255,255, 0.585) , 389px -301px 0 -104px rgba(255,255,255, 0.91) , -444px -114px 0 -104px rgba(255,255,255, 0.069) , -218px 407px 0 -104px rgba(255,255,255, 0.059) , 282px -62px 0 -104px rgba(255,255,255, 0.22) , 334px -261px 0 -104px rgba(255,255,255, 0.925) , -19px -144px 0 -104px rgba(255,255,255, 0.262) , 397px 218px 0 -104px rgba(255,255,255, 0.24) , -363px 324px 0 -104px rgba(255,255,255, 0.887) , -209px -251px 0 -104px rgba(255,255,255, 0.613) , 350px 250px 0 -104px rgba(255,255,255, 0.062) , -308px -151px 0 -104px rgba(255,255,255, 0.308) , -318px 344px 0 -104px rgba(255,255,255, 0.864) , 244px 128px 0 -104px rgba(255,255,255, 0.439) , -382px -403px 0 -104px rgba(255,255,255, 0.724) , 375px 436px 0 -104px rgba(255,255,255, 0.036) , 376px 101px 0 -104px rgba(255,255,255, 0.386) , -416px -354px 0 -104px rgba(255,255,255, 0.57) , 387px 250px 0 -104px rgba(255,255,255, 0.449) , -5px -258px 0 -104px rgba(255,255,255, 0.932) , 374px -428px 0 -104px rgba(255,255,255, 0.133) , -288px 241px 0 -104px rgba(255,255,255, 0.674) , -48px -290px 0 -104px rgba(255,255,255, 0.883) , 112px -214px 0 -104px rgba(255,255,255, 0.823) , 233px -150px 0 -104px rgba(255,255,255, 0.046) , 205px 370px 0 -104px rgba(255,255,255, 0.966) , 264px 270px 0 -104px rgba(255,255,255, 0.488) , -419px -318px 0 -104px rgba(255,255,255, 0.998) , -228px -4px 0 -104px rgba(255,255,255, 0.908) , 83px 8px 0 -104px rgba(255,255,255, 0.97) , -56px 53px 0 -104px rgba(255,255,255, 0.401) , 102px -301px 0 -104px rgba(255,255,255, 0.767) , 358px 249px 0 -104px rgba(255,255,255, 0.648) , -151px -215px 0 -104px rgba(255,255,255, 0.25) , -191px 40px 0 -104px rgba(255,255,255, 0.483) , -220px 277px 0 -104px rgba(255,255,255, 0.486) , 442px 427px 0 -104px rgba(255,255,255, 0.183) , -316px 124px 0 -104px rgba(255,255,255, 0.917) , 21px -225px 0 -104px rgba(255,255,255, 0.047) , 99px -103px 0 -104px rgba(255,255,255, 0.764) , -84px 38px 0 -104px rgba(255,255,255, 0.144) , -140px -427px 0 -104px rgba(255,255,255, 0.837) , -143px -443px 0 -104px rgba(255,255,255, 0.062) , -43px 227px 0 -104px rgba(255,255,255, 0.446) , -345px 141px 0 -104px rgba(255,255,255, 0.242) , 81px -92px 0 -104px rgba(255,255,255, 0.199) , -320px -317px 0 -104px rgba(255,255,255, 0.554) , -418px 379px 0 -104px rgba(255,255,255, 0.524) , 245px -105px 0 -104px rgba(255,255,255, 0.753) , 338px -209px 0 -104px rgba(255,255,255, 0.95) , 100px 97px 0 -104px rgba(255,255,255, 0.076) , 412px -193px 0 -104px rgba(255,255,255, 0.534) , 144px 218px 0 -104px rgba(255,255,255, 0.477) , -92px -48px 0 -104px rgba(255,255,255, 0.816) , -124px 172px 0 -104px rgba(255,255,255, 0.663) , 149px -197px 0 -104px rgba(255,255,255, 0.741) , 134px 329px 0 -104px rgba(255,255,255, 0.764) , -388px 163px 0 -104px rgba(255,255,255, 0.512) , 159px 133px 0 -104px rgba(255,255,255, 0.118) , -439px -147px 0 -104px rgba(255,255,255, 0.279) , 433px 41px 0 -104px rgba(255,255,255, 0.886) , -268px -19px 0 -104px rgba(255,255,255, 0.326) , 210px 387px 0 -104px rgba(255,255,255, 0.499) , 262px 418px 0 -104px rgba(255,255,255, 0.156) , 88px -43px 0 -104px rgba(255,255,255, 0.505) , -68px 202px 0 -104px rgba(255,255,255, 0.261) , -7px 182px 0 -104px rgba(255,255,255, 0.993) , 397px 253px 0 -104px rgba(255,255,255, 0.758) , 310px -245px 0 -104px rgba(255,255,255, 0.995) , -419px -179px 0 -104px rgba(255,255,255, 0.343) , 278px 382px 0 -104px rgba(255,255,255, 0.838) , -265px 24px 0 -104px rgba(255,255,255, 0.92) , -168px -400px 0 -104px rgba(255,255,255, 0.879) , 186px 159px 0 -104px rgba(255,255,255, 0.126) , 79px 93px 0 -104px rgba(255,255,255, 0.38) , 309px 38px 0 -104px rgba(255,255,255, 0.779) , -55px 433px 0 -104px rgba(255,255,255, 0.533) , 189px 427px 0 -104px rgba(255,255,255, 0.946) , 219px 429px 0 -104px rgba(255,255,255, 0.86) , 167px 304px 0 -104px rgba(255,255,255, 0.424) , 93px 97px 0 -104px rgba(255,255,255, 0.004) , 60px -15px 0 -104px rgba(255,255,255, 0.658) , 223px -375px 0 -104px rgba(255,255,255, 0.48) , 221px 190px 0 -104px rgba(255,255,255, 0.801) , 441px 82px 0 -104px rgba(255,255,255, 0.861) , -338px 242px 0 -104px rgba(255,255,255, 0.488) , -352px 125px 0 -104px rgba(255,255,255, 0.742) , 51px -440px 0 -104px rgba(255,255,255, 0.805) , 106px 407px 0 -104px rgba(255,255,255, 0.583) , -147px 11px 0 -104px rgba(255,255,255, 0.693) , -231px -340px 0 -104px rgba(255,255,255, 0.96) , 94px 294px 0 -104px rgba(255,255,255, 0.736) , 439px -251px 0 -104px rgba(255,255,255, 0.571) , -228px -393px 0 -104px rgba(255,255,255, 0.636) , -92px -120px 0 -104px rgba(255,255,255, 0.418) , 52px -65px 0 -104px rgba(255,255,255, 0.231) , 305px 210px 0 -104px rgba(255,255,255, 0.142) , -429px 194px 0 -104px rgba(255,255,255, 0.067) , 102px 375px 0 -104px rgba(255,255,255, 0.587) , 42px 348px 0 -104px rgba(255,255,255, 0.767) , -311px 57px 0 -104px rgba(255,255,255, 0.887) , 296px -330px 0 -104px rgba(255,255,255, 0.566) , -187px 395px 0 -104px rgba(255,255,255, 0.644) , 186px 422px 0 -104px rgba(255,255,255, 0.546) , -371px -295px 0 -104px rgba(255,255,255, 0.597) , -373px 410px 0 -104px rgba(255,255,255, 0.555) , 137px -282px 0 -104px rgba(255,255,255, 0.551) , -6px -415px 0 -104px rgba(255,255,255, 0.211) , 28px 159px 0 -104px rgba(255,255,255, 0.452) , 245px 118px 0 -104px rgba(255,255,255, 0.057) , -106px -143px 0 -104px rgba(255,255,255, 0.368) , -303px 386px 0 -104px rgba(255,255,255, 0.988) , -280px 293px 0 -104px rgba(255,255,255, 0.275) , 274px -216px 0 -104px rgba(255,255,255, 0.991) , -374px 271px 0 -104px rgba(255,255,255, 0.79) , 121px -61px 0 -104px rgba(255,255,255, 0.086) , 395px -47px 0 -104px rgba(255,255,255, 0.72) , -302px -278px 0 -104px rgba(255,255,255, 0.076) , 76px 31px 0 -104px rgba(255,255,255, 0.22) , -296px 341px 0 -104px rgba(255,255,255, 0.591) , -307px 425px 0 -104px rgba(255,255,255, 0.016) , 49px 325px 0 -104px rgba(255,255,255, 0.581) , -295px -160px 0 -104px rgba(255,255,255, 0.6) , 2px 209px 0 -104px rgba(255,255,255, 0.699) , -433px 367px 0 -104px rgba(255,255,255, 0.353) , -148px 420px 0 -104px rgba(255,255,255, 0.33) , 138px -172px 0 -104px rgba(255,255,255, 0.377) , -352px 27px 0 -104px rgba(255,255,255, 0.614) , 379px -390px 0 -104px rgba(255,255,255, 0.263) , 415px -416px 0 -104px rgba(255,255,255, 0.157) , -51px -279px 0 -104px rgba(255,255,255, 0.652) , -211px -313px 0 -104px rgba(255,255,255, 0.052) , -196px 120px 0 -104px rgba(255,255,255, 0.335) , -415px -203px 0 -104px rgba(255,255,255, 0.587) , -160px 425px 0 -104px rgba(255,255,255, 0.214) , 425px -214px 0 -104px rgba(255,255,255, 0.762) , 197px -75px 0 -104px rgba(255,255,255, 0.624) , 407px -281px 0 -104px rgba(255,255,255, 0.568) , 345px -224px 0 -104px rgba(255,255,255, 0.418) , 221px -412px 0 -104px rgba(255,255,255, 0.208) , -439px -213px 0 -104px rgba(255,255,255, 0.933) , -185px 334px 0 -104px rgba(255,255,255, 0.125) , -60px -106px 0 -104px rgba(255,255,255, 0.634) , -104px 104px 0 -104px rgba(255,255,255, 0.163) , -262px -136px 0 -104px rgba(255,255,255, 0.473) , -104px 356px 0 -104px rgba(255,255,255, 0.172) , 149px -102px 0 -104px rgba(255,255,255, 0.569) , 287px 253px 0 -104px rgba(255,255,255, 0.181) , 24px -140px 0 -104px rgba(255,255,255, 0.055) , 84px 374px 0 -104px rgba(255,255,255, 0.856) , 315px -172px 0 -104px rgba(255,255,255, 0.694) , -421px -159px 0 -104px rgba(255,255,255, 0.595) , -56px -174px 0 -104px rgba(255,255,255, 0.387) , 89px -160px 0 -104px rgba(255,255,255, 0.466) , 218px -273px 0 -104px rgba(255,255,255, 0.363) , 264px -370px 0 -104px rgba(255,255,255, 0.731) , 319px -21px 0 -104px rgba(255,255,255, 0.512) , -281px -25px 0 -104px rgba(255,255,255, 0.823) , 395px -179px 0 -104px rgba(255,255,255, 0.98) , 412px 343px 0 -104px rgba(255,255,255, 0.862) , -406px -248px 0 -104px rgba(255,255,255, 0.154) , 178px -421px 0 -104px rgba(255,255,255, 0.252) , 275px -56px 0 -104px rgba(255,255,255, 0.132) , 65px -77px 0 -104px rgba(255,255,255, 0.758) , 156px 352px 0 -104px rgba(255,255,255, 0.974) , -60px -210px 0 -104px rgba(255,255,255, 0.91) , 135px 106px 0 -104px rgba(255,255,255, 0.6) , -348px 418px 0 -104px rgba(255,255,255, 0.084) , -5px -253px 0 -104px rgba(255,255,255, 0.915) , 326px 2px 0 -104px rgba(255,255,255, 0.871) , -361px 183px 0 -104px rgba(255,255,255, 0.766) , 415px -128px 0 -104px rgba(255,255,255, 0.103) , -121px -306px 0 -104px rgba(255,255,255, 0.647) , 162px -125px 0 -104px rgba(255,255,255, 0.65) , 318px -144px 0 -104px rgba(255,255,255, 0.054) , -87px 406px 0 -104px rgba(255,255,255, 0.436) , 139px -153px 0 -104px rgba(255,255,255, 0.772) , -244px 332px 0 -104px rgba(255,255,255, 0.442) , 292px -413px 0 -104px rgba(255,255,255, 0.685) , -274px 204px 0 -104px rgba(255,255,255, 0.258) , 0px 388px 0 -104px rgba(255,255,255, 0.651) , -330px 105px 0 -104px rgba(255,255,255, 0.376) , -198px -278px 0 -104px rgba(255,255,255, 0.949) , -223px -14px 0 -104px rgba(255,255,255, 0.739) , 157px 120px 0 -104px rgba(255,255,255, 0.248) , 151px -340px 0 -104px rgba(255,255,255, 0.756) , 232px -363px 0 -104px rgba(255,255,255, 0.096) , -319px -134px 0 -104px rgba(255,255,255, 0.81) , 166px -257px 0 -104px rgba(255,255,255, 0.607) , 71px 314px 0 -104px rgba(255,255,255, 0.973) , 120px -5px 0 -104px rgba(255,255,255, 0.233) , 325px -417px 0 -104px rgba(255,255,255, 0.334) , -115px -364px 0 -104px rgba(255,255,255, 0.005) , -93px -424px 0 -104px rgba(255,255,255, 0.326) , -77px -213px 0 -104px rgba(255,255,255, 0.525) , 30px 313px 0 -104px rgba(255,255,255, 0.133) , 356px 89px 0 -104px rgba(255,255,255, 0.115) , -369px -383px 0 -104px rgba(255,255,255, 0.158) , 175px 7px 0 -104px rgba(255,255,255, 0.995) , -82px 12px 0 -104px rgba(255,255,255, 0.327) , -99px -279px 0 -104px rgba(255,255,255, 0.371) , -355px 288px 0 -104px rgba(255,255,255, 0.907) , 147px -135px 0 -104px rgba(255,255,255, 0.317) , 204px 366px 0 -104px rgba(255,255,255, 0.524) , 196px -418px 0 -104px rgba(255,255,255, 0.393) , 73px 385px 0 -104px rgba(255,255,255, 0.987) , 377px -222px 0 -104px rgba(255,255,255, 0.866) , -431px -371px 0 -104px rgba(255,255,255, 0.707) , 405px -269px 0 -104px rgba(255,255,255, 0.974) , 355px 74px 0 -104px rgba(255,255,255, 0.268) , -153px -302px 0 -104px rgba(255,255,255, 0.657) , -365px -368px 0 -104px rgba(255,255,255, 0.744) , -217px -327px 0 -104px rgba(255,255,255, 0.06) , -333px 66px 0 -104px rgba(255,255,255, 0.709) , -341px 19px 0 -104px rgba(255,255,255, 0.426) , -273px -408px 0 -104px rgba(255,255,255, 0.025) , -192px 253px 0 -104px rgba(255,255,255, 0.455) , 190px -67px 0 -104px rgba(255,255,255, 0.933) , 211px 141px 0 -104px rgba(255,255,255, 0.989) , -200px 395px 0 -104px rgba(255,255,255, 0.993) , -187px 67px 0 -104px rgba(255,255,255, 0.065) , -288px 204px 0 -104px rgba(255,255,255, 0.547) , 149px 421px 0 -104px rgba(255,255,255, 0.693) , 146px -295px 0 -104px rgba(255,255,255, 0.981) , -81px 257px 0 -104px rgba(255,255,255, 0.753) , 107px -177px 0 -104px rgba(255,255,255, 0.969) , 260px -110px 0 -104px rgba(255,255,255, 0.966) , 172px -240px 0 -104px rgba(255,255,255, 0.715) , -141px -352px 0 -104px rgba(255,255,255, 0.166) , -157px -169px 0 -104px rgba(255,255,255, 0.381) , -439px -408px 0 -104px rgba(255,255,255, 0.436) , 198px 357px 0 -104px rgba(255,255,255, 0.375) , 387px -370px 0 -104px rgba(255,255,255, 0.185) , 328px -171px 0 -104px rgba(255,255,255, 0.19) , 263px -69px 0 -104px rgba(255,255,255, 0.022) , 113px 420px 0 -104px rgba(255,255,255, 0.023) , 256px -32px 0 -104px rgba(255,255,255, 0.693) , 423px 309px 0 -104px rgba(255,255,255, 0.196) , -76px -403px 0 -104px rgba(255,255,255, 0.282) , -268px 80px 0 -104px rgba(255,255,255, 0.534) , -332px 322px 0 -104px rgba(255,255,255, 0.264) , -404px -19px 0 -104px rgba(255,255,255, 0.106) , 443px 293px 0 -104px rgba(255,255,255, 0.126) , 386px 186px 0 -104px rgba(255,255,255, 0.699) , 108px 328px 0 -104px rgba(255,255,255, 0.639) , 41px 321px 0 -104px rgba(255,255,255, 0.562) , 131px 252px 0 -104px rgba(255,255,255, 0.732) , -394px 434px 0 -104px rgba(255,255,255, 0.567) , 286px -444px 0 -104px rgba(255,255,255, 0.765) , -132px 232px 0 -104px rgba(255,255,255, 0.261) , -312px 163px 0 -104px rgba(255,255,255, 0.717) , -42px 178px 0 -104px rgba(255,255,255, 0.58) , -157px -17px 0 -104px rgba(255,255,255, 0.736) , -438px -312px 0 -104px rgba(255,255,255, 0.07) , -122px -284px 0 -104px rgba(255,255,255, 0.434) , -117px 197px 0 -104px rgba(255,255,255, 0.907) , -109px -103px 0 -104px rgba(255,255,255, 0.777) , -413px 314px 0 -104px rgba(255,255,255, 0.218) , -315px -241px 0 -104px rgba(255,255,255, 0.533) , 275px -403px 0 -104px rgba(255,255,255, 0.226) , 371px 209px 0 -104px rgba(255,255,255, 0.998) , -380px -334px 0 -104px rgba(255,255,255, 0.899) , 162px -437px 0 -104px rgba(255,255,255, 0.827) , -282px -382px 0 -104px rgba(255,255,255, 0.295) , 2px -300px 0 -104px rgba(255,255,255, 0.453) , -239px -146px 0 -104px rgba(255,255,255, 0.422) , -426px 41px 0 -104px rgba(255,255,255, 0.85) , -22px -127px 0 -104px rgba(255,255,255, 0.477) , 16px 155px 0 -104px rgba(255,255,255, 0.756) , -272px 397px 0 -104px rgba(255,255,255, 0.952) , 385px 258px 0 -104px rgba(255,255,255, 0.239) , 131px -340px 0 -104px rgba(255,255,255, 0.223) , -72px 290px 0 -104px rgba(255,255,255, 0.026) , 371px 19px 0 -104px rgba(255,255,255, 0.269) , 23px 117px 0 -104px rgba(255,255,255, 0.308) , -72px -390px 0 -104px rgba(255,255,255, 0.544) , -226px -158px 0 -104px rgba(255,255,255, 0.715) , -132px -64px 0 -104px rgba(255,255,255, 0.479) , 234px -67px 0 -104px rgba(255,255,255, 0.25) , -432px 139px 0 -104px rgba(255,255,255, 0.036) , 68px -195px 0 -104px rgba(255,255,255, 0.006) , -4px 258px 0 -104px rgba(255,255,255, 0.627) , 277px -300px 0 -104px rgba(255,255,255, 0.095) , 252px -439px 0 -104px rgba(255,255,255, 0.794) , -80px -349px 0 -104px rgba(255,255,255, 0.483) , 337px 97px 0 -104px rgba(255,255,255, 0.403) , 235px -56px 0 -104px rgba(255,255,255, 0.603) , 65px -429px 0 -104px rgba(255,255,255, 0.084) , 147px 124px 0 -104px rgba(255,255,255, 0.733) , -344px -308px 0 -104px rgba(255,255,255, 0.798) , 200px -58px 0 -104px rgba(255,255,255, 0.106) , -79px 122px 0 -104px rgba(255,255,255, 0.969) , -99px -103px 0 -104px rgba(255,255,255, 0.705) , -388px 281px 0 -104px rgba(255,255,255, 0.048) , -142px 274px 0 -104px rgba(255,255,255, 0.502) , 310px 290px 0 -104px rgba(255,255,255, 0.875);
}

/* line 445, app.scss */
.satellite-wrapper {
  width: 700px;
  height: 700px;
  top: 50%;
  left: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* line 457, app.scss */
.datatipWrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 3;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/* line 468, app.scss */
.dataTip {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform-origin: 50% 50%;
  animation: orb 15s linear infinite;
}

/* line 478, app.scss */
.datatipWrapper .dataTip-data {
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

/* line 486, app.scss */
.satellite {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transform-origin: 50% 50%;
  animation: orb 15s linear infinite;
}

/* line 497, app.scss */
.satellite img {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* line 505, app.scss */
.signal {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  border: 2px solid #fff;
  transform-origin: bottom;
}

/**
   * SEC-4
   */
/* line 522, app.scss */
#section-4 {
  background: #FFE66D;
  z-index: 0;
}
/* line 525, app.scss */
#section-4 h2 {
  padding: 0;
  color: white;
  z-index: 999;
  text-transform: uppercase;
  font-family: "Stellar", "Roboto Slab", sans-serif;
  opacity: 0;
}
/* line 533, app.scss */
#section-4 p {
  color: white;
  opacity: 0;
}

/* line 541, app.scss */
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* line 549, app.scss */
.icon-menu {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 36px;
  z-index: 99;
  top: 36px;
}

/* line 558, app.scss */
#city2 {
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: 9;
}

/* line 564, app.scss */
#windowsHolder {
  bottom: -0.5%;
  position: absolute;
  left: 0;
  z-index: 999;
  width: 100%;
}

/* line 573, app.scss */
.clouds {
  width: 200px;
  position: absolute;
  z-index: 0;
  opacity: .2;
}

/* line 580, app.scss */
#cloud-1 {
  top: 20%;
  left: 50%;
  animation: fly linear 45s infinite;
}

/* line 585, app.scss */
#cloud-2 {
  top: 50%;
  left: 20%;
  animation: fly linear 25s infinite;
}

/* line 590, app.scss */
#cloud-3 {
  top: 10%;
  left: 30%;
  animation: fly linear 35s infinite;
}

/* line 595, app.scss */
#cloud-4 {
  top: 30%;
  left: 10%;
  animation: fly linear 65s infinite;
}

/* line 600, app.scss */
#cloud-5 {
  top: 40%;
  left: 00%;
  animation: fly linear 40s infinite;
}

/* line 605, app.scss */
.sun {
  height: 200px;
  width: 200px;
  top: 15%;
  left: 15%;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  background-color: #FF6B6B;
}

/* line 615, app.scss */
.sunRay {
  height: 250px;
  width: 250px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  background-color: #FF6B6B;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  box-shadow: 0 0 0 20px rgba(255, 107, 107, 0.5), 0 0 0 40px rgba(255, 107, 107, 0.3);
}

/* line 629, app.scss */
.bulb-wrapper {
  width: 35vh;
  height: 50vh;
  right: 5%;
  position: absolute;
  top: 0;
  z-index: 99;
}

/* line 639, app.scss */
#bulb {
  padding-bottom: 100%;
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 649, app.scss */
.lightray {
  position: absolute;
  background-color: rgba(255, 230, 109, 0.6);
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  right: 1%;
  z-index: 0;
  display: none;
}

/* line 662, app.scss */
.handler-wrapper {
  height: auto;
  position: absolute;
  top: -20%;
  right: 40%;
  width: 19.34px;
  z-index: 999;
}

/* line 671, app.scss */
.handler-ripple {
  background-color: #4ECDC4;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

/**
   * SEC-5
   */
/* line 690, app.scss */
#section-5 {
  background-color: #1A535C;
}
/* line 692, app.scss */
#section-5 h2 {
  padding: 0;
  color: white;
  z-index: 999;
  text-transform: uppercase;
  font-family: "Stellar", "Roboto Slab", sans-serif;
}

/* line 701, app.scss */
#worldmap {
  width: 100%;
  height: auto;
  position: absolute;
  min-width: 300px;
  left: 0;
}

/* line 709, app.scss */
.circle-ripple {
  background-color: #FFE66D;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

/* line 720, app.scss */
#na {
  left: 18%;
  top: 29%;
}

/* line 725, app.scss */
#la {
  left: 30%;
  top: 65%;
}

/* line 730, app.scss */
#eu {
  left: 49%;
  top: 26%;
}

/* line 735, app.scss */
#af {
  left: 54%;
  top: 55%;
}

/* line 740, app.scss */
#ru {
  left: 67%;
  top: 18%;
}

/* line 745, app.scss */
#cas {
  left: 60%;
  top: 29%;
}

/* line 750, app.scss */
#me {
  left: 61%;
  top: 44%;
}

/* line 755, app.scss */
#ind {
  left: 69%;
  top: 43%;
}

/* line 760, app.scss */
#other {
  left: 78%;
  top: 57%;
}

/* line 765, app.scss */
#jap {
  left: 86%;
  top: 32%;
}

/* line 770, app.scss */
#aus {
  left: 86%;
  top: 73%;
}

/* line 775, app.scss */
#chi {
  left: 78%;
  top: 30%;
}

/* line 780, app.scss */
.nameBubble {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
}
/* line 787, app.scss */
.nameBubble #mainBubble {
  min-width: 50px;
  min-height: 10px;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 2px 7px 3px 7px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}

/* line 800, app.scss */
.continent {
  color: white;
  opacity: 1;
  position: absolute;
  font-size: 1em;
}

/* line 807, app.scss */
.continent-content {
  position: relative;
  height: 50vh;
}

/* line 812, app.scss */
.hidden {
  background-color: aqua;
  display: none;
}

/* line 817, app.scss */
.continent:not(.hidden) {
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
}

/* line 822, app.scss */
.continent-total {
  text-align: right;
  position: relative;
  height: 50vh;
  color: #616674;
}

/* line 829, app.scss */
.continent-total #totalTitle {
  top: 10%;
  width: 100%;
  color: #0f2f34;
}

/* line 836, app.scss */
.continent-total #totalNumber {
  top: 2%;
  position: absolute;
  width: 100%;
  font-size: 6em;
  color: white;
  vertical-align: top;
  margin: 0;
}
/* line 844, app.scss */
.continent-total #totalNumber ::after {
  content: "Gt";
}

/* line 849, app.scss */
.continent-total #totalNumber:after {
  content: "gt";
  font-size: 0.2em;
}

/* line 854, app.scss */
.activated {
  background-color: #FF6B6B;
}

/**
   * Section-6
   */
/* line 862, app.scss */
#section-6 {
  background-color: #FFE66D;
}
/* line 864, app.scss */
#section-6 h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
}
/* line 870, app.scss */
#section-6 h1 {
  text-align: center;
}

/* line 878, app.scss */
.findoutWrapper {
  position: absolute;
  height: 70vh;
  width: 100%;
  left: 0;
}
/* line 883, app.scss */
.findoutWrapper .findout-content {
  top: 20%;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* line 891, app.scss */
.findoutWrapper .findout {
  text-decoration: underline;
  cursor: pointer;
}
/* line 895, app.scss */
.findoutWrapper .target-content {
  top: 5%;
  height: 400px;
  width: 400px;
  background-color: gray;
  position: absolute;
  left: 150%;
  transform: translate(-50%, 0);
}

/* line 906, app.scss */
.dragSection-wrapper {
  position: absolute;
  width: 70vw;
  max-width: 900px;
  max-height: 150px;
  height: 15vw;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 922, app.scss */
.dragSection-wrapper .dragItems {
  width: 400px;
  background-color: aqua;
  margin-right: 40px;
}

/* line 927, app.scss */
.dragSection-wrapper .dragItems:last-child {
  margin-right: 0;
}

/**
   * Section 7
   */
/* line 936, app.scss */
.section7-wrapper {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 947, app.scss */
#coal,
#oil,
#gas {
  width: 15vw;
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(72, 74, 81, 0.3);
  }
  80% {
    box-shadow: 0px 0px 0px 50px rgba(72, 74, 81, 0);
  }
}
@keyframes traffic {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(150vw);
  }
}
@keyframes animatedBackground {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes animatedBackground {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes fly {
  0% {
    left: -15vw;
  }
  100% {
    left: 115vw;
  }
}
@keyframes flyHeli {
  0% {
    left: -15vw;
    transform: translateY(0px) rotate();
  }
  30% {
    left: 50vw;
    transform: translateY(-20px) rotate(5deg);
  }
  40% {
    left: 50vw;
  }
  60% {
    left: 115vw;
    transform: translateY(0px) rotate(0);
  }
  100% {
    left: 115vw;
  }
}
@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes satellite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
@keyframes play {
  100% {
    background-position: -117607px;
  }
}
@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
